<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
    <ion-tab title="找拖车"  icon-on="ion-ios-person"   icon-off="ion-ios-person-outline" ui-sref="tab.transporter" >
        <ion-nav-view animation="slide-left-right" name="tab-transporter"></ion-nav-view>
    </ion-tab>
    <ion-tab title="找货车" icon-on="tab_first_on" icon-off="tab_first_off" ui-sref="tab.transporter2" >
        <ion-nav-view animation="slide-left-right" name="tab-transporter2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="附近货车" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tab.findtruck2">
        <ion-nav-view animation="slide-left-right" name="tab-findtruck2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="附近拖车" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" ui-sref="tab.findtruck">
        <ion-nav-view animation="slide-left-right" name="tab-findtruck"></ion-nav-view>
    </ion-tab>
</ion-tabs>
